/* You can add global styles to this file, and also import other style files */
@import "./generic.scss";

h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 30pt;
}

h2 {
  font-size: 19pt;
  text-transform: uppercase;
}
